[submodule "/Users/yellow/.homesick/repos/dotfiles/home/.vim/bundle/unite.vim"]
	path = /Users/yellow/.homesick/repos/dotfiles/home/.vim/bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "/Users/yellow/.homesick/repos/dotfiles/home/.vim/bundle/neobundle.vim"]
	path = /Users/yellow/.homesick/repos/dotfiles/home/.vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
