#git
alias diff='LC_ALL=C git diff --color --no-index'

alias gitgc='git reflog expire --expire=now --all && git gc --aggressive --prune=now'
alias gitname='git config --global user.name'
alias gitemail='git config --global user.email'
alias gitpass="git config --global credential.helper 'cache --timeout=3600'"
function gitpush {
  git add .
  git commit -m "$1"
  git push origin master
}

# vim: set ft=sh ff=unix fileencoding=utf-8 expandtab ts=2 sw=2 :
