#go
export GOPATH=$HOME/.go
export GOWORK=$GOPATH/workspace
export PATH=$PATH:$GOPATH/bin:$GOWORK/bin
if [ ! -d $GOPATH ]; then
  mkdir -p $GOPATH $GOWORK
fi

# vim: set ft=sh ff=unix fileencoding=utf-8 expandtab ts=2 sw=2 :
