wheel
cython
ipython
pandas
matplotlib
dask
dateutils
xlrd
xlwt
openpyxl
xlsxwriter
sqlparse
lark-parser
git+git://github.com/fumiyas/python-nkf@master#egg=python-nkf
pyinstaller
cytoolz
xsorted
more-itertools
patool
parse
bs4
html5lib
lxml
antlr4-python3-runtime
cloudpickle
psutil
blockdiag
seqdiag
actdiag
nwdiag
japandas
cx_oracle
sqlalchemy-vertica
https://bitbucket.org/zzzeek/sqlalchemy-access/get/default.zip
chartpy
unlzw
rarfile
lhafile
python-pptx
python-docx
pdfminer3k
multitasking
tornado==4.5.3
joblib
jupyterlab
jupyterlab-widgets
widgetsnbextension
ipywidgets
pyqt5
spyder
seaborn
