wheel
cython
ipython
pandas
matplotlib
plotly
seaborn
scikit-learn
dask
dateutils
xlrd
xlwt
xlutils
openpyxl
xlsxwriter
sqlparse
lark-parser
#git+https://github.com/fumiyas/python-nkf.git
#cytoolz
#xsorted
more-itertools
patool
bs4
html5lib
lxml
#antlr4-python3-runtime
cloudpickle
psutil
blockdiag
blockdiagcontrib-excelshape
reportlab
seqdiag
actdiag
nwdiag
unlzw3
rarfile
lhafile
olefile
python-pptx
python-docx
pdfminer3k
multitasking
tornado
joblib
sqlalchemy-access
pymysql
cx_oracle
#sqlalchemy-vertica
#ibm_db_sa
#psycopg2-binary
mecab-python3
#liblnk-python
#japandas
#git+https://github.com/kirin123kirin/mso-dumper.git
#docker-registry-client
#chartpy
#jupyterlab
#jupyterlab-widgets
#widgetsnbextension
#ipywidgets
nlplot
