wheel
cython
ipython
pandas
matplotlib
plotly
dask
dateutils
xlrd
xlwt
xlutils
openpyxl
xlsxwriter
sqlparse
lark-parser
git+git://github.com/fumiyas/python-nkf@master#egg=python-nkf
#pyinstaller
cytoolz
xsorted
more-itertools
patool
#parse #error
bs4
html5lib
lxml
antlr4-python3-runtime
cloudpickle
psutil
blockdiag
blockdiagcontrib-excelshape
reportlab
seqdiag
actdiag
nwdiag
japandas
pymysql
psycopg2
cx_oracle
sqlalchemy-vertica
ibm_db_sa
https://bitbucket.org/zzzeek/sqlalchemy-access/get/default.zip
unlzw
rarfile
lhafile
python-pptx
python-docx
pdfminer3k
multitasking
tornado==4.5.3
joblib
pyqt5
spyder
docker-registry-client
#chartpy
#jupyterlab
#jupyterlab-widgets
#widgetsnbextension
#ipywidgets
#seaborn
olefile
git+https://github.com/kirin123kirin/mso-dumper.git
